<div class="panel">
	<div class="classifyMenuPanel">
		<ul class="classifyList">
			<li>
				<span data-pancakes="classifyChannel">所有频道<i class="caret"></i></span>
				<ul class="classifyDropdown off">
					<li>所有频道</li>
					<li>电影</li>
					<li>动漫</li>
					<li>电视剧</li>
				</ul>
			</li>
			<li>
				<span data-pancakes="classifyYear">年份不限<i class="caret"></i></span>
				<ul class="classifyDropdown off">
					<li>不限</li>
					<li>2005</li>
					<li>2006</li>
					<li>2007</li>
					<li>2008</li>
					<li>2009</li>
					<li>2010</li>
					<li>2011</li>
					<li>2012</li>
					<li>2013</li>
				</ul>
			</li>
			<li>
				<span data-pancakes="classifyArea">地区不限<i class="caret"></i></span>
				<ul class="classifyDropdown off">
					<li>不限</li>
					<li>中国</li>
					<li>美国</li>
					<li>日本</li>
					<li>韩国</li>
					<li>英国</li>
				</ul>
			</li>
			<li>
				<span data-pancakes="classifyType">类型不限<i class="caret"></i></span>
				<ul class="classifyDropdown off">
					<li>不限</li>
					<li>喜剧</li>
					<li>动作片</li>
					<li>科幻</li>
					<li>冒险</li>
					<li>古装</li>
				</ul>
			</li>
			<li>
				<span data-pancakes="classifyOrder">按热门排序<i class="caret"></i></span>
				<ul class="classifyDropdown off">
					<li>按热门排序</li>
					<li>按上映日期</li>
					<li>按用户评分</li>
				</ul>
			</li>
		</ul>
	</div>
</div>