.corpLogo {
	display: inline;
	margin-right: 30px;
}

.movieSearchBtn {
	display: inline;
	cursor: pointer;
	position: relative;
	top: -6px;
	left: -6px;
	width: 80px;
	height: 38px;
	border: none;
	//background-color: #FC3A30;
	background-color: #CF005D;
	
}

.movieSearch {
	height: 25px;
	border: 2px solid #D8D8D8;
	position: relative;
	top: -13px;
	line-height: 25px;
	width: 300px;
	outline: none medium;
	padding: 4px 5px;
	font-size: 14px;
}

.searchPanel {
	display: inline;
}